<div class="modal-header">
  <div class="modal-header-categoris" (click)="modalOpneArea()">
    <div class="modal-header-categori">
      <p>エリア選択</p>
    </div>

    <div class="modal-header-categori" (click)="modalOpneMenu()">
      <p>メニュー選択</p>
    </div>

    <div class="modal-header-categori">
      <p>メーカー排気量選択</p>
    </div>

    <div class="modal-header-categori-kensaku" (click)="modalOpneMaker()">
      <span class="material-icons">find_replace</span>
      <p>検索する</p>
    </div>
  </div>
</div>
