<div class="modal-area-search">
    <div class="zenkoku">
        <label class="check-form">
            <input name="area" type="radio" value="all" title="全国" checked>
        </label>
    </div>

    <div class="" *ngFor="let z of zenkoku; let i = index">
        <div class="todouhuken" *ngFor="let t of z.area" >
            <h3>{{t.area}}</h3>

            <div class="kens">
                <div *ngFor="let k of t.kenmei; let i = index" class="ken">
                    <label class="check-form">
                        <input
                        name="area"
                        type="radio"
                        title="{{k.title}}"
                        value="{{i}}">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>