<div class="overlay" [class.hidden]="!modalService.getIsView()">
  <div class="modal-full">
    <div class="modal-close">
      <div class="modal-close-btn" (click)="close()">×</div>
    </div>

    <div class="modal">
      <ng-container *ngComponentOutlet="modalHeader"></ng-container>
      
      <ng-template adHost></ng-template>
      <!-- <ng-container *ngComponentOutlet="modalArea"></ng-container> -->
      <!-- <ng-container *ngComponentOutlet="modalMenu"></ng-container> -->
      <!-- <ng-container *ngComponentOutlet="modalMaker"></ng-container> -->

      <ng-container *ngComponentOutlet="modalFooter"></ng-container>
    </div>
  </div>
</div>