<div class="modal-maker-search">
    <h3>メーカー・排気量選択</h3>
    <div class="select-contents">
        <div class="select-content">
            <h3>メーカー</h3>
            <select [(ngModel)]="makerIndex" ngDefaultControl (change)="onChangeMaker()">
                <option *ngFor="let m of maker; let i = index" [value]="i">
                    {{m.maker}}
                </option>
            </select>
        </div>

        <div class="select-content">
            <h3>排気量</h3>
            <select [(ngModel)]="haikiIndex" ngDefaultControl (change)="onChangeHaiki()">
                <option *ngFor="let h of haikiSelected; let i = index" [ngValue]="i">
                    {{h.haiki}}
                </option>
            </select>
        </div>

        <div class="select-content">
            <h3>車種<br>(任意)</h3>
            <select  [(ngModel)]="syasyuIndex" ngDefaultControl (change)="onChangeSyasyu()">
                <option *ngFor="let s of syasyuSelected; let i = index" [ngValue]="i">
                    {{s.name}}
                </option>
            </select>
        </div>

    </div>
</div>